* {

    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    gap: 5rem;
    background-color: #fcf8f5;
    /* justify-content: space-between; */

    .left {
        

        .top {

        }

        .bottom > .cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2rem;
            padding: 10px;

            .card {
                display: flex;
                flex-direction: column;
                
                img {
                    width: 250px;
                    height: 200px;
                    border-radius: 10px;
                }
                .btn {
                    width: 8rem;
                    background-color: #fff;
                    color: rgba(23, 22, 23, 0.667);
                    border: 1px solid #fcd;
                    padding: 10px 12px;
                    border-radius: 20px;
                    margin-top: -1rem;
                    margin-left: 4rem;
                    cursor: pointer;
                }
            }
        }
    }





    .right {
        background-color: #fff;
        padding: 10px;
        align-items: center;
        
        h1{
            color: #b73e15;
        }
        img {
            width: 25px;
        }
        p {
            color: #d4c9c8;
        }
    }
}